@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
	--tickspeed: 750ms;
}

* {
	margin: 0;
	padding: 0;
	user-select: none;
	font-family: 'Varela Round', sans-serif;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html, body {
	height: 100%;
	width: 100%;
	background-color: #020305;
	overflow: hidden;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: #0e0f0f;
}

::-webkit-scrollbar-thumb {
	background: #191919;
}

::-webkit-scrollbar-thumb:hover {
	background: #262626;
}

.logo {
	position: absolute;
	top: 0;
	left: 0;
	margin: 1.5rem 1rem;
	cursor: pointer;
	opacity: 0.4;
	transition: opacity 0.2s ease-in-out;
}

.logo:hover, .logo:focus {
	opacity: 1;
}

.logo img {
	width: 40%;
}

.inventory {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	width: 100%;
	height: 100%;
	z-index: 9999;
	padding: 3rem 4rem;
	display: none;
	opacity: 0;
}

.inventory.inventory-active {
	display: block;
	animation: openInventory .35s forwards;
	backdrop-filter: blur(15px);
}

@keyframes openInventory {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.inventory .inventory-footer {
	background-color: #101010c4;
	padding: 1.25rem 1.5rem;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 400;
	font-size: 1.25rem;
}

.inventory-footer #closeInventory {
	cursor: pointer;
}

.inventory .inventory-sides {
	display: flex;
	justify-content: space-between;
	gap: 15px;
	padding: 2rem 0rem;
	height: 90%;
}

.inventory .inventory-side {
	width: 100%;
	height: 100%;
	background-color: #101010c4;
	border-radius: 15px;
	padding: 2rem;
}

.inventory .inventory-side.inventory-chest-side {
	display: none;
}

.inventory .inventory-chest-side.chest-nearby {
	display: block;
}

.inventory-side .inventory-content {
	border-radius: 15px;
	height: 90%;
	margin: 1.5rem 0rem 0rem 0rem;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: .5rem;
	overflow-y: scroll;
}

.inventory-content .inventory-item {
	display: flex;
	justify-content: start;
	align-items: center;
	direction: row;
	background-color: #1c1c1cc4;
	overflow: hidden;
	padding: 1rem 1.5rem;
	border-radius: 8px;
	min-height: 100px;
}

.inventory-content .inventory-item:hover {
	background-color: rgba(20, 20, 20, 0.812);
	cursor: pointer;
}

.inventory-content .inventory-item:active {
	cursor: grabbing;
}

.inventory-item .inventory-item-image {
	display: flex;
	align-items: center;
	margin-right: 25px;
}

.inventory-item .inventory-item-image img {
	width: 30px;
	height: 28px;
	border-radius: 5px;
}

.inventory-item .inventory-item-text {
	width: 75%;
	height: 100%;
	display: flex;
	justify-content: start;
	align-items: center;
}

.inventory-item .inventory-item-count {
	margin-left: auto;
	padding-right: 1rem;
	font-size: 1.15rem;
	font-weight: 900;
}

.hud {
	position: fixed;
	top: 0;
	right: 0;
	width: 50%;
	margin: 1.5rem 0;
	text-align: right;
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-end;
	display: none;
}

.hud .level {
	color: #121212;
	font-size: .75rem;
	background-color: #f5f5f5;
	width: 45px;
	height: 45px;
	padding: 1rem;
	margin: 0 1.5rem;
	border-radius: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.10;
}

.hud .state {
	margin: 0 1.5rem;
	border-radius: 8px;
	width: 250px;
	display: none;
}

.hud .state .hud-item .hud-prefix {
	color: #fcfcfc;
	font-size: .9rem;
	font-weight: 700;
	padding: 0 .75rem .3rem .75rem;
	background-color: #656667;
	border-radius: 0 0 4px 4px;
	width: fit-content;
	text-align: center;
}

.hud .state .hud-item .progress-bar {
	height: 17.5px;
	width: 100%;
	background-color: #656667;
	border: 5px solid #656667;
	border-radius: 4px 4px 4px 0;
}

.hud .state .hud-item .progress-bar:last-of-type {
	margin-top: 10px;
}

.hud .state .hud-item .progress-bar .progress-bar-fill {
	height: 100%;
	width: 50%;
	background-color: #fcfcfc;
	transition: width var(--tickspeed);
}

.napsu {
	position: fixed;
	width: 64px;
	height: 64px;
	margin: auto;
	background-image: url(./assets/sprites/Sprite-0001.png);
	background-position: 0 0;
	background-size: 512px 64px;
	bottom: 27.5px;
	z-index: 10;
}

.napsu.look-left {
	transform: scaleX(-1)
}

.napsu.napsu-water {
	background-image: url(./assets/sprites/Sprite-0004.gif);
	background-size: 64px 64px;
}

.napsu.napsu-sleep {
	background-image: url(./assets/sprites/Sprite-0005-1.gif);
	background-size: 64px 64px;
	bottom: 45px;
	z-index: 4;
}

.napsu.napsu-farm {
	background-image: url(./assets/sprites/Sprite-0009.gif);
	background-size: 64px 64px;
}

.napsu.napsu-harvest {
	background-image: url(./assets/sprites/Sprite-0010.gif);
	background-size: 64px 64px;
}

.napsu.napsu-punch {
	background-image: url(./assets/sprites/Sprite-0003.gif);
	background-size: 64px 64px;
}

.napsu .speech {
	position: absolute;
	bottom: 120%;
	left: 50%;
	transform: translateX(-50%);
	width: max-content;
	margin: auto;
	text-align: center;
	height: 27.5px;
	background-color: #fff;
	border-radius: 5px;
	padding: .25rem 0.75rem;
	opacity: 0.75;	
	display: none;
	transform: translateX(-50%) scaleX(1);
}

.napsu .speech.speech-left {
	transform: translateX(-100%);
}

.napsu .speech span {
	background-color: #2a2f4e;
	padding: 0 .25rem;
	border-radius: 2px;
	color: #fff;
	font-weight: 500;
}

.napsu.look-left .speech {
	transform: translateX(-50%) scaleX(-1);
}

.napsu.look-left .speech.speech-left {
	transform: translateX(0%) scaleX(-1);
}

.napsu .speech.speech-active {
	display: inline;
}

.napsu .speech:after {
	content: '';
	position: absolute;
	bottom: -60%;
	left: 47.5%;
	transform: translateX(-47.5%);
	transform: scaleY(-1);
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: #fff;
}

.napsu .speech.speech-left:after {
	left: 95%;
}

.napsu.napsu-left {
	background-image: url(./assets/sprites/Sprite-0001.gif);
	background-size: 64px 64px;

}

.napsu.napsu-right {
	background-image: url(./assets/sprites/Sprite-0001.gif);
	background-size: 64px 64px;

}

.napsu.napsu-up {
	background-image: url(./assets/sprites/Sprite-0006.gif);
	background-size: 64px 64px;
}


.bush-type-1 {
	position: absolute;
	width: 95px;
	height: 36px;
	background-image: url(./assets/map/bush-1.png);
	background-position: 0 0;
	background-size: 95px 36px;
	bottom: 30px;
	z-index: 5;
}

#bush-1 { left: 27.5px; }
#bush-2 { right: 74.5px; }
#bush-3 { left: 45%; }
#bush-4 { left: 56%; transform: scaleX(-1); }


#tree-1 {
	position: absolute;
	width: 120px;
	height: 137px;
	background-image: url(./assets/map/tree-1.png);
	background-position: 0 0;
	background-size: 120px 137px;
	bottom: 27.5px;
	left: 10%;
	z-index: 5;
}

#tree-2 {
	position: absolute;
	width: 153px;
	height: 161px;
	background-image: url(./assets/map/tree-2.png);
	background-position: 0 0;
	background-size: 153px 161px;
	bottom: 32px;
	left: 27.5%;
	transform: scaleX(-1);
}

#tree-3 {
	position: absolute;
	width: 153px;
	height: 161px;
	background-image: url(./assets/map/tree-2.png);
	background-position: 0 0;
	background-size: 153px 161px;
	bottom: 27.5px;
	right: 45%;
}

#tree-4 {
	position: absolute;
	width: 120px;
	height: 137px;
	background-image: url(./assets/map/tree-1.png);
	background-position: 0 0;
	background-size: 120px 137px;
	bottom: 32px;
	right: 15%;
	z-index: 5;
}

.well {
	position: absolute;
	width: 87px;
	height: 91px;
	background-image: url(./assets/map/well.png);
	background-size: 87px 91px;
	bottom: 32px;
	left: 25%;
}

.bench {
	position: absolute;
	width: 85px;
	height: 39px;
	background-image: url(./assets/map/bench.png);
	background-size: 85px 39px;
	bottom: 32px;
	left: 10%;
}

.farm {
	position: absolute;
	width: 164px;
	height: 12px;
	background-image: url(./assets/map/farm-1.png);
	background-size: 82px 12px;
	bottom: 32px;
	right: 20%;
}

#farm-state-1 { background-image: url(./assets/map/farm-1.png); }
#farm-state-2 { background-image: url(./assets/map/farm-2.png); }
#farm-state-3 { background-image: url(./assets/map/farm-3.png); }
#farm-state-4 { background-image: url(./assets/map/farm-4.png); }
#farm-state-5 {
	width: 164px;
	height: 70px;
	background-image: url(./assets/map/farm-5.png);
	background-size: 82px 70px;
}

.border {
	position: absolute;
	width: 11px;
	height: 192px;
	background-image: url(./assets/map/border.png);
	background-size: 11px 96px;
	bottom: 32px;
}

#border-1 { left: -15px; }
#border-2 { right: -5px; transform: scaleX(-1) }

.chest {
	position: fixed;
	width: 64px;
	height: 50px;
	background-image: url(./assets/sprites/chest-1.png);
	background-size: 448px 50px;
	background-position: 0 0;
	bottom: 25px;
	left: 17%;
	animation: chestClose .5s step-start forwards;
}

.chest.chest-open {
	animation: chestOpen .5s step-start forwards;
	background-position: -192px 0;
}

@keyframes chestOpen {
	from {
		background-position: 0 0;
	}
	14% {
		background-position: -64px 0;
	}
	28% {
		background-position: -128px 0;
	}
	42% {
		background-position: -192px 0;
	}
	to {
		background-position: -256px 0;
	}
}

@keyframes chestClose {
	from {
		background-position: -256px 0;
	}
	14% {
		background-position: -192px 0;
	}
	28% {
		background-position: -128px 0;
	}
	42% {
		background-position: -64px 0;
	}
	to {
		background-position: 0 0;
	}
}

.ground {
	background-color: #3f2914;
	position: absolute;
	width: 100%;
	height: 32px;
	bottom: 0;
	background-image: url(./assets/map/ground.png);
	background-position: 0 0;
	background-repeat: repeat-x;
	background-size: 256px 32px;
}